/*
  Brand colors
    #39A4FC blue / primary
    #2182D5 blue darker / primary dark
    #56E6BF teal / alternate
    #33D5AE teal darker / alternate dark
    #FD684A red / error
    #FEDF52 yellow / warning
    #7F42FB purple / fun ;)
    #1A2634 dark / text
    #7c858d faded / secondary text
    #f5f5f5 light grey / borders
*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #fff;
  color: #1A2634;
}

a {
  color: #39A4FC;
}

a:hover {
  color: #2182D5;
}

button {
  display: inline-block;
  margin: 1.5em;
  padding: 0.5em 2em;
  font-size: 0.8em;
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #39A4FC;
  border: 0.063em solid transparent;
  border-radius: 2em;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button:hover {
  background-color: #2182D5;
}

.logo {
  margin-bottom: 1em;
}

.app {
  height: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 2em;
}

.main-container {
  display: flex;
  align-items: flex-start;
}

.no-updates {
  width: 100%;
}

.update-list {
  width: 100%;
}

.update {
  margin: 0.5em 0;
  border-radius: 0.5em;
  border: 2px solid #f5f5f5;
}

.update-contents {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.update-text {
  margin: 0;
  padding-right: 1em;
  line-height: 1.4em;
}

.update-image {
  height: 6em;
}

.update-stats {
  padding: 0 0 1em 1em;
  color:#7c858d;
}

.update-stats-icon {
  padding-right: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.update-stats-number {
  padding-right: 0.75em;
  font-size: 0.875em;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}

.update-info {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 1em;
  font-size: 0.875em;
}

.load-more {
  text-align: center;
}

.analytics-summary {
  margin: 0.5em 1em;
  padding: 1em;
  border-radius: 0.5em;
  border: 2px solid #f5f5f5;
  width: 40%;
  position: sticky;
  position: -webkit-sticky;
  top: 1.25em;
}

.analytics-summary-number {
  font-size: 2.25em;
  font-weight: 600;
  margin: 0;
}

.analytics-summary-type {
  font-size: 0.8em;
  padding-bottom: 1em;
  margin: 0;
}

.analytics-summary-post {
  color: #56E6BF;
}

.analytics-summary-retweet {
  color: #FEDF52;
}

.analytics-summary-favorite {
  color: #7F42FB;
}

.analytics-summary-click {
  color: #2182D5;
}
